@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Nunito", sans-serif;
}


img {
    max-width: 100%;
    height: auto;
}

.Container {
    max-width: 1200px;
    margin: auto;
    padding: 3rem 0.75rem;
}


/* NAVBAR */
.navbar {
    width: 100%;
    background: #ffffff;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    position: Fixed;
    top: 0;
    z-index: 1000;
}


/* CONTAINER */
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}



/* LOGO */
.logo {
  padding: 5px 48px;
}
.logo h2 {
  color: #06bbcc;
  font-weight: 700;
  font-size: 2rem;
  display: flex;
  align-items: center;
}
.logo h2 i {
  margin-right: 1rem;
}