@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Nunito", sans-serif;
}


img {
    max-width: 100%;
    height: auto;
}

.Container {
    max-width: 1200px;
    margin: auto;
    padding: 3rem 0.75rem;
}


/* NAVBAR */
.navbar {
    width: 100%;
    background: #ffffff;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    position: Fixed;
    top: 0;
    z-index: 1000;
}


/* CONTAINER */
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}



/* LOGO */
.logo {
  padding: 5px 48px;
}
.logo h2 {
  color: #06bbcc;
  font-weight: 700;
  font-size: 2rem;
  display: flex;
  align-items: center;
}
.logo h2 i {
  margin-right: 1rem;
}

/* MENU WRAPPER */
.menu {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* NAV LINKS */
.nav-links {
  display: flex;
  align-items: center;
  gap: 10px;
}


.nav-links a {
  text-decoration: none;
  color: #333;
  padding: 10px 14px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 15px;
  transition: 0.3s;
}

.nav-links a:hover,
.nav-links a.active {
  color: #06bbcc;
}


/* BUTTON */
.btn {
  background: #06bbcc;
  color: #fff;
  text-decoration: none;
  padding: 24px 48px;
  font-weight: 600;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: 0.3s;
}

.btn:hover {
  background: #06bbcc;
}


/* DROPDOWN */
.dropdown {
  position: relative;
}

.dropdown > a {
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 120%;
  left: 0;
  background: #fff;
  min-width: 170px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  display: none;
  flex-direction: column;
  z-index: 99;
}

.dropdown-menu li {
  list-style: none;
}

.dropdown-menu a {
  padding: 10px 15px;
  color: #333;
  display: block;
  font-size: 14px;
}

.dropdown-menu a:hover {
  background: #f1f5ff;
  color: #06bbcc;
}

/* SHOW DROPDOWN ON DESKTOP */
.dropdown:hover .dropdown-menu {
  display: block;
}


/* HAMBURGER */
.menu-toggle {
  display: none;
  font-size: 26px;
  cursor: pointer;
}