@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Nunito", sans-serif;
}

/* HEADER */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.logo {
  font-size: 22px;
  font-weight: bold;
  color: #00bcd4;
}

.logo span {
  color: #222;
}

.nav {
  display: flex;
  align-items: center;
  gap: 25px;
}

.nav a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.nav a:hover {
  color: #00bcd4;
}


/* BUTTONS */
.btn {
  padding: 10px 18px;
  background: #00bcd4;
  color: #fff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.join-btn {
  display: flex;
  align-items: center;
  gap: 6px;
}

.arrow {
  font-size: 18px;
}
/* MENU ICON */
.menu-toggle {
  display: none;
  font-size: 28px;
  cursor: pointer;
}

/*DROPDOWN (DESKTOP ONLY)*/

.dropdown {
  position: relative;
}

/* link Pages */
.dropdown > a {
  cursor: pointer;
}

/* opecity 0*/
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background: #fff;
  min-width: 180px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.1);
  padding: 10px 0;
  border-radius: 4px;

  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: 0.3s ease;
  z-index: 999;
}

/* dropdown */
.dropdown-menu a {
  display: block;
  padding: 10px 18px;
  color: #333;
  text-decoration: none;
  font-size: 15px;
}

.dropdown-menu a:hover {
  background: #f5f5f5;
  color: #00bcd4;
}



/*  click */
.dropdown:focus-within .dropdown-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}



@media (max-width: 991px) {
  .dropdown-menu {
    position: static;
    box-shadow: none;
    transform: none;
    opacity: 1;
    visibility: visible;
    display: block;
  }
}



/* Tablet & Mobile */
@media (max-width: 991px) {

  .menu-toggle {
    display: block; 
  }

  .nav {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background: #fff;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 25px 0;

    /* xiran */
    display: none;
  }

  /* active */
  .nav.active {
    display: flex;
  }

  .nav a {
    font-size: 18px;
  }

  .join-btn {
    margin-top: 10px;
  }
}


/* SECTION 2 */
.features-about {
  padding: 80px 60px;
  background: #fff;
  margin-top: 40px;
}

/* TOP CARDS */
.features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  margin-bottom: 80px;
}

.feature-card {
  background: #f0fbfc;
  padding: 40px 25px;
  text-align: center;
  transition: 0.3s ease;
}

.feature-card .icon {
  font-size: 40px;
  color: #00bcd4;
  margin-bottom: 20px;
}

.feature-card h3 {
  margin-bottom: 15px;
  font-size: 18px;
}

.feature-card p {
  font-size: 14px;
  color: #555;
  line-height: 1.6;
}

/* HOVER */
.feature-card:hover {
  background: #00bcd4;
  color: #fff;
}

.feature-card:hover .icon,
.feature-card:hover p {
  color: #fff;
}

/* ABOUT SECTION */
.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  align-items: center;
}

.about-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-content h6 {
  color: #00bcd4;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.about-content h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.about-content p {
  color: #555;
  line-height: 1.7;
  margin-bottom: 15px;
}

.about-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin: 20px 0 30px;
}

.about-list span {
  color: #333;
  font-size: 14px;
}

/* qaybta  RESPONSIVE  */
@media (max-width: 900px) {
  .about {
    grid-template-columns: 1fr;
  }
}


/* SECTION 3*/
.instructors {
  padding: 80px 60px;
  background: #fff;
}

/* GRID */
.instructors-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

/* CARD */
.instructor-card {
  text-align: center;
  animation: fadeUp 1s ease forwards;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* IMAGE */
.instructor-img {
  position: relative;
  overflow: hidden;
}

.instructor-img img {
  width: 100%;
  height: 320px;
  object-fit: cover;
  transition: 0.5s;
}

.instructor-card:hover img {
  transform: scale(1.08);
}

/* SOCIAL ICONS */
.social-icons {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  transition: 0.4s;
}

.social-icons a {
  width: 40px;
  height: 40px;
  background: #00bcd4;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-weight: bold;
}

.instructor-card:hover .social-icons {
  bottom: 20px;
}

/* INFO */
.instructor-info {
  background: #f0fbfc;
  padding: 20px;
}

.instructor-info h4 {
  margin-bottom: 5px;
}

.instructor-info p {
  font-size: 14px;
  color: #666;
}

/* RESPONSIVE */
@media (max-width: 1000px) {
  .instructors-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .instructors-grid {
    grid-template-columns: 1fr;
  }
}



