* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* HEADER */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.logo {
  font-size: 22px;
  font-weight: bold;
  color: #00bcd4;
}

.logo span {
  color: #222;
}

.nav {
  display: flex;
  align-items: center;
  gap: 25px;
}

.nav a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.nav a:hover {
  color: #00bcd4;
  
}


/* BUTTONS */
.btn {
  padding: 10px 18px;
  background: #00bcd4;
  color: #fff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.join-btn {
  display: flex;
  align-items: center;
  gap: 6px;
}

.arrow {
  font-size: 18px;
}

/* MENU ICON */
.menu-toggle {
  display: none;
  font-size: 28px;
  cursor: pointer;
}
 
