@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Nunito", sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

.Container {
    max-width: 1200px;
    margin: auto;
}

.Header {
    height: 50vh;
    background: linear-gradient(rgba(24, 29, 56, .7), rgba(24, 29, 56, .7)),url("https://themewagon.github.io/elearning/img/carousel-1.jpg") no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
    padding: 3rem 0.75rem;
}

.Header .Header-Content {
    text-align: center;
    color: white;
    padding-inline: 0.75rem;
}

.Header .Header-Content h1 {
    font-weight: 800;
    font-size: 4rem;
    margin-bottom: 0.5rem;
}

.Header .Header-Content nav ol {
    margin-bottom: 1rem;
}

.Header .Header-Content nav li {
    display: inline;
    list-style: none;
}

.Header .Header-Content nav a {
    color: white;
    text-decoration: none;
    font-weight: 400;
    font-size: 1rem;
}


@media (max-width: 768px) {
    .Header .Header-Content h1 {
    font-size: 2.3125rem;
}

}

