@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Nunito", sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

.Container {
    max-width: 1200px;
    margin: auto;
    padding: 3rem 0.75rem;
}

/* Section 1 */
.Header {
    height: 50vh;
    background: linear-gradient(rgba(24, 29, 56, 0.7), rgba(24, 29, 56, 0.7)),
        url("https://themewagon.github.io/elearning/img/carousel-1.jpg") no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
    padding: 3rem 0.75rem;
}

.Header .Header-Content {
    text-align: center;
    color: white;
    padding-inline: 0.75rem;
}

.Header .Header-Content h1 {
    font-weight: 800;
    font-size: 4rem;
    margin-bottom: 0.5rem;
}

.Header .Header-Content nav ol {
    margin-bottom: 1rem;
}

.Header .Header-Content nav li {
    display: inline;
    list-style: none;
}

.Header .Header-Content nav a {
    color: white;
    text-decoration: none;
    font-weight: 400;
    font-size: 1rem;
}

/* Section 2 */
.Contact-Us-Header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Contact-Us-Header .Title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 0.5rem;
}

.Contact-Us-Header .Title .Lines {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    position: relative;
}

.Contact-Us-Header .Title .Line1 {
    width: 13.4375rem;
    height: 0.125rem;
    background-color: #06bbcc;
}

.Contact-Us-Header .Title .Line2 {
    width: 15.9375rem;
    height: 0.125rem;
    background-color: #06bbcc;
}

.Contact-Us-Header .Title h6 {
    font-size: 1rem;
    font-weight: 700;
    color: #06bbcc;
    text-transform: uppercase;
    position: absolute;
    top: -0.3125rem;
    background-color: #fff;
    padding: 0 1rem;
}

.Contact-Us-Header h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #181d38;
    margin-bottom: 3rem;
}

/* Section 2 Content */

.Contact-Us {
    padding: 3rem 0.75rem;
}

.Contact-Us .Contact-Us-Content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin: -1.5rem 0 -0.75rem -0.75rem;
}

.Contact-Us .Contact-Us-Content .Left {
    margin-top: 1.5rem;
    padding: 0 0.75rem;
}

.Contact-Us .Contact-Us-Content .Left h5 {
    font-size: 1.25rem;
    font-weight: 700;
    color: #181d38;
    margin-bottom: 0.5rem;
}

.Contact-Us .Contact-Us-Content .Left p {
    font-weight: 400;
    font-size: 1rem;
    color: #52565b;
    margin-bottom: 1.5rem;
}

.Contact-Us .Contact-Us-Content .Left p a {
    font-weight: 400;
    font-size: 1rem;
    color: #06bbcc;
    text-decoration: none;
}

.Contact-Us .Contact-Us-Content .Left .Box {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.Contact-Us .Contact-Us-Content .Left .Box .Icon {
    width: 50px;
    height: 50px;
    background-color: #06bbcc;
}

.Contact-Us .Contact-Us-Content .Left .Box .Icon i {
    color: white;
    font-weight: 900;
    font-size: 1rem;
    line-height: 50px;
    text-align: center;
    display: block;
}

.Contact-Us .Contact-Us-Content .Left .Box .Content h5 {
    font-size: 1.25rem;
    font-weight: 700;
    color: #06bbcc;
    margin-bottom: 0.5rem;
}

.Contact-Us .Contact-Us-Content .Left .Box .Content p {
    font-weight: 400;
    font-size: 1rem;
    color: #52565b;
}

.Contact-Us .Contact-Us-Content .Center {
    margin-top: 1.5rem;
    padding: 0 0.75rem;
}

.Contact-Us .Contact-Us-Content .Center iframe {
    width: 100%;
    border: 0;
}

.Contact-Us .Contact-Us-Content .Right {
    margin-top: 1.5rem;
    padding: 0 0.75rem;
}

.Contact-Us .Contact-Us-Content .Right form input,
.Contact-Us .Contact-Us-Content .Right form textarea {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1.8rem;
    border: 1px solid #ced4da;
    font-weight: 400;
    font-size: 1rem;
}

.Contact-Us .Contact-Us-Content .Right form button {
    background-color: #06bbcc;
    color: white;
    padding: 0.75rem 1.5rem;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    width: 100%;
}

/* Section 3 Footer */

.Contact-Footer {
    background-color: #181d38;
    height: 90vh;
    margin-top: 3rem;
    padding: 3rem 0 0.75rem 0.75rem;
    color: #ffffff;
}

.Contact-Footer .Contact-Footer-Boxes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: -3rem 0 -0.75rem -0.75rem;
}

.Contact-Footer .Contact-Footer-Box {
    margin-top: 3rem;
    padding: 0 1.5rem;
}

.Contact-Footer .Contact-Footer-Box h4 {
    margin-bottom: 1rem;
    font-weight: 700;
    font-size: 1.5rem;
}

.Contact-Footer .Contact-Footer-Box a {
    display: block;
    margin-bottom: 0.3125rem;
    color: #ffffff;
    text-decoration: none;
    font-weight: 400;
    font-size: 0.9375rem;
}

.Contact-Footer .Contact-Footer-Box a span {
    font-weight: 900;
    margin-right: 0.625rem;
}

.Contact-Footer .Contact-Footer-Box p {
    font-weight: 400;
    font-size: 1rem;
    color: #f0fbfc;
    margin-bottom: 0.5rem;
}

.Contact-Footer .Contact-Footer-Box p i {
    margin-right: 1rem;
}

.Contact-Footer .Contact-Footer-Box .Icons {
    display: flex;
    padding-top: 0.5rem;
    color: #f0fbfc;
}

.Contact-Footer .Contact-Footer-Box .Icons a {
    border: 1px solid #f0fbfc;
    border-radius: 80%;
    padding: 0.375rem 0.75rem;
    margin-left: 0.3125rem;
}

.Contact-Footer .Contact-Footer-Box .Social-Media-Box-Images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
    margin: -0.5rem -0.25rem -0.5rem -0.25rem;
    padding-top: 0.5rem;
}

.Contact-Footer .Contact-Footer-Box .Social-Media-Box-Images .Social-Media-Box-Image {
    margin-top: 0.5rem;
    padding: 0 0.25rem;
    background-color: #f0fbfc;
}

.Contact-Footer .Contact-Footer-Box .Social-Media-Box-Images .Social-Media-Box-Image img {
    padding: 0.25rem;
}

.Contact-Footer .Contact-Footer-Box .Newsletter-Input {
    display: flex;
    margin-top: 1rem;
    background-color: #fff;
    font-size: 1rem;
    font-weight: 400;
    width: 243px;
    height: 56px;
    position: relative;

}

.Contact-Footer .Contact-Footer-Box .Newsletter-P {
    margin-bottom: 1rem;
    color: #f0fbfc;
}

.Contact-Footer .Contact-Footer-Box .Newsletter-Input input {
    border: none;
    padding: 1rem 3rem 1rem 1.5rem;
    position: absolute;
    left: 0;
    font-weight: 400;
    font-size: 1rem;
    width: 100%;
    height: 100%;

}
.Contact-Footer .Contact-Footer-Box .Newsletter-Input button {
    background-color: #06bbcc;
    color: white;
    border: 0.0625rem;
    padding: 0.5rem 0.75rem;
    margin: 0.5rem 0.5rem 0 0;
    cursor: pointer;
    font-weight: 600;
    font-size: 1rem;
    position: absolute;
    right: 0;
}



/* Responsive */

@media (max-width: 768px) {

    /* Section 1 */
    .Header .Header-Content h1 {
        font-size: 2.3125rem;
    }

    /* Section 2  Title*/
    .Contact-Us-Header h1 {
        font-size: 1.75rem;
    }

    /* Section 2 Content */

    .Contact-Us .Contact-Us-Content {
        grid-template-columns: 1fr;
        padding: 0 0.75rem;
    }
}