@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Nunito", sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}


.Container {
    max-width: 1200px;
    margin: auto;
    padding: 3rem 0.75rem;
}


/* NAVBAR */
.navbar {
    width: 100%;
    background: #ffffff;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    position: Fixed;
    top: 0;
    z-index: 1000;
}

/* CONTAINER */
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* LOGO */
.logo {
  padding: 5px 48px;
}
.logo h2 {
  color: #06bbcc;
  font-weight: 700;
  font-size: 2rem;
  display: flex;
  align-items: center;
}
.logo h2 i {
  margin-right: 1rem;
}

/* MENU WRAPPER */
.menu {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* NAV LINKS */
.nav-links {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  padding: 10px 14px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 15px;
  transition: 0.3s;
}

.nav-links a:hover,
.nav-links a.active {
  color: #06bbcc;
}

/* BUTTON */
.btn {
  background: #06bbcc;
  color: #fff;
  text-decoration: none;
  padding: 24px 48px;
  font-weight: 600;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: 0.3s;
}

.btn:hover {
  background: #06bbcc;
}

/* DROPDOWN */
.dropdown {
  position: relative;
}

.dropdown > a {
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 120%;
  left: 0;
  background: #fff;
  min-width: 170px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  display: none;
  flex-direction: column;
  z-index: 99;
}

.dropdown-menu li {
  list-style: none;
}

.dropdown-menu a {
  padding: 10px 15px;
  color: #333;
  display: block;
  font-size: 14px;
}

.dropdown-menu a:hover {
  background: #f1f5ff;
  color: #06bbcc;
}

/* SHOW DROPDOWN ON DESKTOP */
.dropdown:hover .dropdown-menu {
  display: block;
}

/* HAMBURGER */
.menu-toggle {
  display: none;
  font-size: 26px;
  cursor: pointer;
}


/* Section 1 */
.Header {
    margin-top: 4.375rem;
    height: 50vh;
    background: linear-gradient(rgba(24, 29, 56, 0.7), rgba(24, 29, 56, 0.7)),
        url("https://themewagon.github.io/elearning/img/carousel-1.jpg") no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
    padding: 3rem 0.75rem;
    position: relative;
}

.Header .Header-Content {
    text-align: center;
    color: white;
    padding-inline: 0.75rem;
}

.Header .Header-Content h1 {
    font-weight: 800;
    font-size: 4rem;
    margin-bottom: 0.5rem;
}

.Header .Header-Content nav ol {
    margin-bottom: 1rem;
}

.Header .Header-Content nav li {
    display: inline;
    list-style: none;
}

.Header .Header-Content nav a {
    color: white;
    text-decoration: none;
    font-weight: 400;
    font-size: 1rem;
}


/* Section 2 */
.Contact-Us-Header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Contact-Us-Header .Title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 0.5rem;
}

.Contact-Us-Header .Title .Lines {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    position: relative;
}

.Contact-Us-Header .Title .Line1 {
    width: 13.4375rem;
    height: 0.125rem;
    background-color: #06bbcc;
}

.Contact-Us-Header .Title .Line2 {
    width: 15.9375rem;
    height: 0.125rem;
    background-color: #06bbcc;
}

.Contact-Us-Header .Title h6 {
    font-size: 1rem;
    font-weight: 700;
    color: #06bbcc;
    text-transform: uppercase;
    position: absolute;
    top: -0.3125rem;
    background-color: #fff;
    padding: 0 1rem;
}

.Contact-Us-Header h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #181d38;
    margin-bottom: 3rem;
}

/* Section 2 Catagories */
.categories-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 250px 250px;
  gap: 20px;
}

/* CARD */
.category-card {
  position: relative;
  overflow: hidden;
  animation-duration: 1.2s;
  animation-fill-mode: both;
}

.category-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}

.category-card:hover img {
  transform: scale(1.1);
}

/* INFO BOX */
.category-info {
  position: absolute;
  bottom: 15px;
  right: 15px;
  background: #fff;
  padding: 12px 18px;
  text-align: center;
}

.category-info h4 {
    font-weight: 700;
  font-size: 20px;
}

.category-info span {
  color: #00bcd4;
  font-weight: 400;
  font-size: 14px;
}

/* SIZE CONTROL */
.big {
  grid-column: span 2;
}

.tall {
  grid-row: span 2;
}

/* qaybta ANIMATIONS*/
.left {
  animation-name: slideFromLeft;
}

.right {
  animation-name: slideFromRight;
}

.bottom {
  animation-name: slideFromBottom;
}

@keyframes slideFromLeft {
  from {
    transform: translateX(-120px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideFromRight {
  from {
    transform: translateX(120px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideFromBottom {
  from {
    transform: translateY(120px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}



/* Section 3  Courses */
/* GRID */
.courses-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

/* CARD */
.course-card {
  background: #f0fbfc;
  animation: fadeUp 1s ease forwards;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* sawir*/
.course-img {
  position: relative;
  overflow: hidden;
}

.course-img img {
  width: 100%;
  height: 260px;
  object-fit: cover;
  transition: 0.5s;
}

.course-card:hover img {
  transform: scale(1.1);
}

/* BUTTONS ON IMAGE */
.course-buttons {
    width: 100%;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  /* gap: 10px; */
  margin-bottom: 24px;
}

.course-buttons a {
  background: #00bcd4;
  color: #fff;
  padding: 4px 16px;
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
  border: 1px solid #00bcd4;
  
}

/* BODY */
.course-body {
  padding: 25px;
  text-align: center;
}

.course-body h3 {
  font-size: 28px;
  margin-bottom: 10px;
}

.stars {
  color: #00bcd4;
  font-weight: 400;
  margin-bottom: 14px;
  font-size: 14px;
}

.stars small {
    font-weight: 900;
}

.stars span {
  color: #777;
}

.course-body h4 {
    font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
}

/* FOOTER */
.course-footer {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  border-top: 1px solid #ddd;
  font-weight: 400;
  font-size: 14px;
}